<h1>PAGINA DE ACTUALIZACION DE contraseña</h1>

<div class="container">
    <div class="row">
        <form method="post" action="/api/sessions/forgot">
            <input type="text" placeholder="correo" name="email">
            <br>
            <input type="password" placeholder="Nueva contraseña" name="password">
            <br>    
            <button type="submit">Restaurar</button>
        </form>
    </div>
</div>