<h1>PAGINA DE LOGIN</h1>

<div class="container">
    <div class="row">
        <form method="post" action="/api/sessions/login">
            <input type="text" placeholder="correo" name="email">
            <br>
            <input type="password" placeholder="contraseña" name="password">
            <br>    
            <button type="submit">Iniciar</button>
        </form>
    </div>
</div>