<div>
    <div class="title">
        <h1>Productos</h1>
    </div>

    <divc class="container">

        <div class="products">
            <ul>
                {{#each prod.docs}}
                <li>{{this.title}}${{this.price}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="paginate">

            <div class="page-prev">
                {{#if prod.hasPrevPage}}
                <a href="/products?page={prod.prevPage}">Anterior</a>
                {{/if}}
            </div>

            <div class="page-next">
                {{#if prod.hasNextPage}}
                <a href="/products?page={prod.nextPage}">Siguiente</a>
                {{/if}}         
            </div>

        </div>

    </div>

</div>