<div class="title">
    <h1>PAGINA DE REGISTRO</h1>
</div>

<div class="container">
    <div class="row">
        <form method="post" action="/api/sessions/registro">

            <input type="text" placeholder="Nombre" name="first_name">
                <br>
            <input type="text" placeholder="Apellido" name="last_name">
                <br>
            <input type="text" placeholder="Correo" name="email">
                <br>   
            <input type="number" placeholder="Edad" name="age">
                <br>
            <input type="password" placeholder="contraseña" name="password">
                <br>       
            <button type="submit">Registrarse</button>
        </form>
    </div>
</div>